<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <logo>
        <a class="logo navbar-brand waves-light" mdbRippleRadius href="#"><strong>MDB</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" href="#">Profile</a>
            </li>
        </ul>
        <form class="form-inline waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>
    </links>
</mdb-navbar>