<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg double-nav" [containerInside]="false">
    <a class="navbar-brand"><img src="/assets/logo.png" height="40"></a>


    <ul *ngIf="isLoggedIn" class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" routerLink="/users/new" mdbRippleRadius><i class="fa fa-plus text-success"></i> <span class="clearfix d-none d-sm-inline-block">Регистрирай потребител</span></a>
        </li>
        <li class="nav-item active">
            <!-- <a class="nav-link waves-light " routerLink="/users/active" mdbRippleRadius><i class="fa fa-users text-success"></i> <span class="clearfix d-none d-sm-inline-block">Активни потребители</span></a> -->
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" routerLink="/users" mdbRippleRadius><i class="fa fa-users"></i> <span class="clearfix d-none d-sm-inline-block">Потребители</span></a>
        </li>
        <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/settings" mdbRippleRadius><i class="fa fa-wrench"></i> <span class="clearfix d-none d-sm-inline-block">Настройки</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" (click)="logout()" mdbRippleRadius><i class="fa fa-sign-out"></i> <span class="clearfix d-none d-sm-inline-block">Изход</span></a>
        </li>
    </ul>

    <ul *ngIf="!isLoggedIn" class="nav navbar-nav nav-flex-icons ml-auto">

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" routerLink="/login" mdbRippleRadius><i class="fa fa-sign-in"></i> <span class="clearfix d-none d-sm-inline-block">Влез в системата</span></a>
        </li>

    </ul>


</mdb-navbar>