<mdb-navbar SideClass="navbar fixed-top navbar-expand-md scrolling-navbar double-nav" [containerInside]="false">
    <!-- SideNav slide-out button -->
    <div class="float-xs-left">
        <a (click)="toggleSidenav()" class="button-collapse"><i class="fa fa-bars"></i></a>
    </div>
    <!--/. SideNav slide-out button -->

    <!-- Breadcrumb-->
    <div class="breadcrumb-dn mr-auto">
        <p>Just Place</p>
    </div>
    <!--/. Breadcrumb-->


    <ul *ngIf="isLoggedIn" class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" routerLink="/users/new" mdbRippleRadius><i class="fa fa-plus text-success"></i> <span class="clearfix d-none d-sm-inline-block">Register user</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" routerLink="/users" mdbRippleRadius><i class="fa fa-users"></i> <span class="clearfix d-none d-sm-inline-block">Users</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" (click)="logout()" mdbRippleRadius><i class="fa fa-sign-out"></i> <span class="clearfix d-none d-sm-inline-block">Еxit</span></a>
        </li>

    </ul>

    <ul *ngIf="!isLoggedIn" class="nav navbar-nav nav-flex-icons ml-auto">

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" routerLink="/login" mdbRippleRadius><i class="fa fa-sign-in"></i> <span class="clearfix d-none d-sm-inline-block">Login</span></a>
        </li>

    </ul>

</mdb-navbar>