<div *ngIf="user" class="row">
    <div class="col-12">
        <div class="card card-cascade narrower">
            <div class="card-body">
                <div class="row">
                    <div class="form-header col-5">
                        User info

                    </div>
                    <div class="form-header ml-auto col-5">
                        Visitation graph
                        <visit-graph [sessions]="user.sessions"></visit-graph>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h3>{{user.name}} {{user.lastName}}</h3>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>