<div *ngIf="user">
    <i class="fa fa-edit text-warning" style="cursor:pointer" mdbTooltip="Редактирай профила" (click)="form.show()"></i>

    <div mdbModal #form="mdb-modal" class="modal fade" id="modalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header blue-gradient darken-3 white-text" style="margin-bottom: 1rem;">
                    <h2 class="h2-responsive mb-2">Редактиране на профила</h2>

                </div>

                <!--Body-->
                <div class="row p-4">
                    <div class="col-12 col-md-6 photo">
                        <app-photo-capture (photoTaken)="onPhotoTaken($event)"></app-photo-capture>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="md-form">
                            <input name="name" type="text" [(ngModel)]="user.name" id="firstName" class="form-control" mdbActive>
                            <label for="firstName">Име</label>
                        </div>

                        <div class="md-form">
                            <input name="lastName" type="text" [(ngModel)]="user.lastName" id="lastName" class="form-control" mdbActive>
                            <label for="lastName">Фамилия</label>
                        </div>

                        <div class="md-form">
                            <input name="email" type="email" [(ngModel)]="user.email" id="email" class="form-control" mdbActive>
                            <label for="email">И-мейл</label>
                        </div>
                        <hr>

                        <div class="d-flex justify-content-end">
                            <button (click)="submitEditUser(); form.hide()" type="submit" class="btn btn-info" mdbRippleRadius>Запази промените</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>