<!-- <th class="p-2 align-middle" scope="row">
    1</th>
<td class="p-2 align-middle">{{user.name}}</td>
<td class="p-2 align-middle">{{user.email}}</td>
<td class="p-2 align-middle">{{time}}</td>
<td class="p-2 align-middle">
    <button *ngIf="!user.currentSession" class="btn btn-sm blue-gradient btn-rounded waves-light" mdbRippleRadius (click)="startModal.open(user.id)">
        Старт
    </button>
    <button *ngIf="user.currentSession" class="btn btn-sm peach-gradient btn-rounded waves-light" mdbRippleRadius (click)="stop(user.id)">
        Стоп
    </button>
</td> -->

<div routerLink="/users/{{user.id}}" style="background-color: white" class="media mb-1 border p-2 z-depth-1">
    <a class="media-left waves-light circle-avatar z-depth-1 mr-1" [ngStyle]="{'background-image': 'url(' + user.pictureName + ')'}">
        <!-- <img class="rounded-circle img-fluid" src="{{user.pictureName}}" alt="No Image"> -->
    </a>
    <div class="media-body" style="position:relative; align-self:stretch">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0"> {{user.name}} <small class="text-muted">{{user.email}}</small></h4>
            <button *ngIf="!user.currentSession" class="btn btn-sm blue-gradient btn-rounded waves-light d-inline-block" mdbRippleRadius (click)="startModal.open(user)">
                <i class="fa fa-play" aria-hidden="true"></i>
            </button>
            <button *ngIf="user.currentSession" class="btn btn-sm peach-gradient btn-rounded waves-light d-inline-block" mdbRippleRadius (click)="stopModal.open(user, time)">
                <i class="fa fa-stop" aria-hidden="true"></i>
            </button>
        </div>

        <hr class="my-1">
        <div class="time d-flex justify-content-between align-items-center">
            <div *ngIf="user.currentSession" class="start-time">
                <small><strong>Стартирана:</strong> {{user.currentSession.startTime | date:'short'}}</small>
                <small class="text-muted" style="display: block;"> {{user.currentSession.startTime | amTimeAgo}} </small>
                <small class="text-muted" style="display: block;"> {{price}} лв</small>
            </div>
            <basic-timer [startTime]="user.currentSession?.startTime"></basic-timer>
            <!-- <div class="timer">
                <h3 *ngIf='user.currentSession' class="animated flipInX">{{time}}</h3>
                <h3 *ngIf='!user.currentSession' class="animated flipInX">0:00:00</h3>
            </div> -->
        </div>
    </div>
</div>

<start-modal #startModal></start-modal>
<stop-modal #stopModal></stop-modal>