<div mdbModal #form="mdb-modal" class="modal fade" id="modalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div *ngIf="user" class="modal-content">

            <!--Header-->
            <div class="modal-header blue-gradient white-text">
                <h4 class="title"><i class="fa fa-newspaper-o"></i> Спиране на играта</h4>
                <h4 class="title" *ngIf="user">Потребител: {{user.name}} {{user.lastName}}</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-3">
                            <p class="text-center"><i class="fa fa-comment fa-2x"></i></p>
                        </div>

                        <div class="col-9 wow animated flipInX" data-wow-delay="0s">
                            <h3 *ngIf="user">{{user.currentSession.description}}</h3>
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div class="row">
                        <div class="col-3">
                            <h3 class="text-center"><i class="fa fa-child fa-2x"></i></h3>
                        </div>

                        <div class="col-9 wow animated flipInX" data-wow-delay="0.1s">
                            <h3 *ngIf="user">{{user.currentSession.userCount}}</h3>
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div class="row">
                        <div class="col-3">
                            <h3 class="text-center"><i class="fa fa-clock-o fa-2x"></i></h3>
                        </div>

                        <div class="col-9 wow animated flipInX" data-wow-delay="0.2s">
                            <basic-timer [userId]="id" *ngIf="user.currentSession" [session]="user.currentSession" [showPrice]="false"></basic-timer>
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div class="row">
                        <div class="col-3">
                            <p class="text-center"><i class="fa fa-dollar fa-2x"></i></p>
                        </div>

                        <div class="col-9 wow animated flipInX" data-wow-delay="0.3s">
                            <h3 class="">{{price}} лв</h3>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-1-half">
                    <button class="btn blue-gradient btn-sm mb-1 waves-light btn-rounded" mdbRippleRadius (click)="stop()">
                        <i class="fa fa-check ml-1"></i>
                        <payment-modal></payment-modal>
                    </button>
                    <button class="btn peach-gradient btn-sm mb-1 waves-light btn-rounded" mdbRippleRadius (click)="form.hide()">
                        <i class="fa fa-close ml-1"></i>
                    </button>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

