<div class="col-10 mx-auto">
    <!--Form-->
    <div class="card card-cascade narrower">

        <div class="card-body">
            <!--Header-->
            <div class="form-header blue-gradient accent-1" style="margin-bottom: 1rem;">
                <h2 class="h2-responsive mb-2">Register new user</h2>

            </div>

            <!--Body-->
            <div class="row">
                <form #form="ngForm" (submit)="register()" class="col-6">
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input name="name" type="text" [(ngModel)]="user.name" id="firstName" class="form-control" mdbActive>
                        <label for="firstName">First name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input name="lastName" type="text" [(ngModel)]="user.lastName" id="lastName" class="form-control" mdbActive>
                        <label for="lastName">Last name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input name="email" type="email" [(ngModel)]="user.email" id="email" class="form-control" mdbActive>
                        <label for="email">Email</label>
                    </div>
                    <hr>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-info" mdbRippleRadius>Register user</button>

                    </div>
                </form>

                <div class="col-6 photo">
                    <app-photo-capture (photoTaken)="onPhotoTaken($event)"></app-photo-capture>
                </div>

            </div>
        </div>
    </div>
    <!--/.Form-->
</div>