<mdb-sidenav #sidenav class="sn-bg-1 fixed" [fixed]="true">
    <!-- Logo -->
    <li>
        <div class="logo-wrapper waves-light">
            <a href="#"><img src="http://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center"></a>
        </div>
    </li>
    <!--/. Logo -->
    <!-- Side navigation links -->
    <li>
        <ul class="collapsible collapsible-accordion">
            <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

                <!-- Collapsible link -->
                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-users"></i> Users</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a routerLink="/users" class="waves-effect" mdbRippleRadius>Users list</a></li>
                            <li><a routerLink="/users/new" class="waves-effect" mdbRippleRadius>Register New User</a></li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>

                <!-- Simple link -->
                <!-- <mdb-item class="no-collase">
                    <mdb-item-head mdbRippleRadius><i class="fa fa-hand-pointer-o"></i> Simple link</mdb-item-head>
                    <mdb-item-body></mdb-item-body>
                </mdb-item> -->

                <!-- Collapsible link -->
                <!-- <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-eye"></i> Collapsible menu 2</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a href="#" class="waves-effect" mdbRippleRadius>Link 1</a></li>
                            <li><a href="#" class="waves-effect" mdbRippleRadius>Link 2</a></li>
                        </ul>
                    </mdb-item-body>
                </mdb-item> -->

                <!-- Simple link -->
                <!-- <mdb-item class="no-collase">
                    <mdb-item-head mdbRippleRadius><i class="fa fa-diamond"></i> Simple link 2</mdb-item-head>
                    <mdb-item-body></mdb-item-body>
                </mdb-item> -->

            </mdb-squeezebox>
        </ul>
    </li>
    <!--/. Side navigation links -->
</mdb-sidenav>