.bg-skin-lp {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.min-chart {
    margin-top: auto;
    margin-bottom: auto;
}