<div class="col-12 col-md-6 mx-auto">
    <!--Form-->
    <div class="card card-cascade narrower">

        <div class="card-body">
            <!--Header-->
            <div class="form-header blue-gradient accent-1">
                <h2 class="h2-responsive mb-2">Вход в системата</h2>

            </div>

            <!--Body-->
            <form #form="ngForm" (submit)="login()">
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input name="username" type="text" [(ngModel)]="user.username" id="form3" class="form-control" mdbActive>
                    <label for="form3">Потребител</label>
                </div>

                <!--Textarea with icon prefix-->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input name="password" [(ngModel)]="user.password" type="password" id="form8" class="form-control" mdbActive>
                    <label for="form8">Парола</label>
                </div>
                <hr>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info" mdbRippleRadius>Вход</button>

                </div>
            </form>

        </div>
    </div>
    <!--/.Form-->
</div>