<!-- <h1>Login user</h1>
<form #loginForm="ngForm" (submit)="login()">
    <div>
        <label for="username">Username</label>
        <input 
            type="text" 
            id="username" 
            name="username"
            [(ngModel)]="user.username">
    </div>

    <div>
        <label for="password">Password</label>
        <input 
            type="password" 
            id="password"
            name="password"
            [(ngModel)]="user.password">
    </div>

    <button type="submit">Submit</button>
</form> -->

<div class="col-6 mx-auto">
    <!--Form-->
    <div class="card card-cascade narrower">

        <div class="card-body">
            <!--Header-->
            <div class="form-header blue-gradient accent-1">
                <h2 class="h2-responsive mb-2">Login</h2>

            </div>

            <!--Body-->
            <form #form="ngForm" (submit)="login()">
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input name="username" type="text" [(ngModel)]="user.username" id="form3" class="form-control" mdbActive>
                    <label for="form3">Your name</label>
                </div>

                <!--Textarea with icon prefix-->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input name="password" [(ngModel)]="user.password" type="password" id="form8" class="form-control" mdbActive>
                    <label for="form8">Your password</label>
                </div>
                <hr>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info" mdbRippleRadius>Login</button>

                </div>
            </form>

        </div>
    </div>
    <!--/.Form-->
</div>