<style>
    .percent:after {
        content: '';
    }
</style>



<div class="d-flex justify-content-between">
    <div class="text-center">
        <span class="min-chart">
                            <span class="percent">{{ hours <= 9 ? '0' + hours : hours}}</span>
        <mdb-easy-pie-chart #seconds [percent]="hourPercent" [options]="options"></mdb-easy-pie-chart>
        </span>
        <h5><span class="badge green">Hours</span></h5>

    </div>

    <div class="text-center">
        <span class="min-chart">
                            <span class="percent">{{ minutes <= 9 ? '0' + minutes : minutes}}</span>
        <mdb-easy-pie-chart #seconds [percent]="minPercent" [options]="options"></mdb-easy-pie-chart>
        </span>
        <h5><span class="badge green">Minutes</span></h5>

    </div>

    <div class="text-center">
        <span class="min-chart">
                            <span class="percent">{{ sec <= 9 ? '0' + sec : sec}}</span>
        <mdb-easy-pie-chart #seconds [percent]="secPercent" [options]="options"></mdb-easy-pie-chart>
        </span>
        <h5><span class="badge green">Seconds</span></h5>

    </div>
</div>