<h1 class="card-title">История на посещенията</h1>
<div class="sessions">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Време на започване</th>
                <th>Време на спиране</th>
                <th>Време</th>
                <th>Цена</th>
                <th>Платено</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let session of sessions; let i = index">

                <th scope="row">{{i+1}}</th>
                <td>{{session.startTime | date:'short'}}</td>
                <td>{{session.endTime | date:'short'}}</td>
                <td>{{session.duration}}</td>

            </tr>
        </tbody>
    </table>

</div>